.title {
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}

body {
    background-image: url("./content/skyy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: scroll;
    height: max-content;
    padding: 0px;
}

.home-outline {
    position: fixed;
    display: flex;
    flex-direction: column;
    float: left;
    top: 0;
    left: 0;
    background-image: url("./content/skyy.jpg");
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: start;
    background-repeat: none;
}

.home {
    text-align: center;
    text-decoration: none;
    color: aqua;
}

.section {
    text-align: center;
    text-decoration: none;
    color: aqua;
}

.home-div {
    display: flex !important;
    align-items: center !important;
    justify-items: center !important;
}

.section-div {
    display: flex !important;
    align-items: center !important;
    justify-items: center !important;
}

figure {
    overflow: hidden;
    display: block;
    padding: 5px;
}

.eye {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    padding: 5px;
    height: 236px;
    display: block;
    border: 1px solid blueviolet;
}

.fam {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    padding: 5px;
    height: 236px;
    display: block;
    border: 1px solid blueviolet;
    top: 10px;
}